@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body, html {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   // background-color: #f5f5f5;
   background-color: #c1da7a;
}

.myheader {
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    width: 100vw;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    //background-color: #c1da7a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__first {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__second {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-style: italic;
    }
}

#taskDate {
    height: 25px;
    font-family: 'Play', sans-serif;
}

#taskInput {
    height: 25px;
    font-family: 'Play', sans-serif;
}

#addBtn {
    height: 25px;
    font-family: 'Play', sans-serif;
    border-radius: 50%;
}

.theCheckbox {
    border: 10px solid black;
}

.container {
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        text-align: center;
    }
}

#taskListCurrent {
    justify-content: space-around;
    
    
    
}

ul {
    list-style-type: none;

    li {
        justify-content: space-between;
        
        p {
            justify-content: space-between;
            display: inline-block;
        }
    }
}


/*p {
    display: inline-block;
    justify-content: space-around;
}*/